<a href="https://colab.research.google.com/github/nickfuryavg/Deep-Learning-Basics/blob/main/single_layer_perceptron.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.shape

(10000, 14)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
df.duplicated().sum()

0

In [ ]:
df['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [ ]:
df['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [ ]:
df['Gender'].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [ ]:
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)

In [ ]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df=pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)

In [ ]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [ ]:
X = df.drop(columns=['Exited'])
y = df['Exited'].values

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [ ]:
y

array([1, 0, 1, ..., 1, 1, 0])

In [ ]:
X_test.shape

(2000, 11)

In [ ]:
X_train.shape

(8000, 11)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train_scaled  = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
X_test_scaled

array([[-0.55204276, -0.36890377,  1.04473698, ...,  1.75486502,
        -0.57369368, -1.09168714],
       [-1.31490297,  0.10961719, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       [ 0.57162971,  0.30102557,  1.04473698, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       ...,
       [-0.74791227, -0.27319958, -1.37744033, ..., -0.5698444 ,
         1.74309049,  0.91601335],
       [-0.00566991, -0.46460796, -0.33936434, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-0.79945688, -0.84742473,  1.04473698, ...,  1.75486502,
        -0.57369368,  0.91601335]])

In [ ]:
X_train_scaled

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

In [ ]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
model = Sequential()#

## this is used to create the hidden layer 3- hidden layer node , input_dim=11 <--- how many inputs are we geting
model.add(Dense(3,activation='sigmoid',input_dim=11))



## this is used to create the output layer as it has only one output node
model.add(Dense(1,activation='sigmoid'))

## Input--hidden layer       11(input column) X 3(niode in hidden layer) +3 (bias) + 3(output from hidden layer) X 1(output node)+1 (bias)

In [ ]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 3)                 36

 dense_3 (Dense)             (None, 1)                 4

=================================================================
Total params: 40 (160.00 Byte)
Trainable params: 40 (160.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
## compilation we will use optmizer "Adam" for gradient descent and loss function used is " log loss or binary crossentropy"


model.compile(optimizer='Adam',loss='binary_crossentropy')

In [ ]:
model.fit(X_train_scaled,y_train,epochs=200)

Epoch 1/200
250/250 [==============================] - 0s 308us/step - loss: 0.3480
Epoch 2/200
250/250 [==============================] - 0s 262us/step - loss: 0.3479
Epoch 3/200
250/250 [==============================] - 0s 254us/step - loss: 0.3478
Epoch 4/200
250/250 [==============================] - 0s 250us/step - loss: 0.3478
Epoch 5/200
250/250 [==============================] - 0s 251us/step - loss: 0.3477
Epoch 6/200
250/250 [==============================] - 0s 250us/step - loss: 0.3477
Epoch 7/200
250/250 [==============================] - 0s 298us/step - loss: 0.3477
Epoch 8/200
250/250 [==============================] - 0s 251us/step - loss: 0.3476
Epoch 9/200
250/250 [==============================] - 0s 250us/step - loss: 0.3476
Epoch 10/200
250/250 [==============================] - 0s 249us/step - loss: 0.3475
Epoch 11/200
250/250 [==============================] - 0s 249us/step - loss: 0.3476
Epoch 12/200
250/250 [==============================] - 0s 250us/step - loss: 0.3474
Epoch 13/200
250/250 [==============================] - 0s 249us/step - loss: 0.3474
Epoch 14/200
250/250 [==============================] - 0s 251us/step - loss: 0.3473
Epoch 15/200
250/250 [==============================] - 0s 248us/step - loss: 0.3473
Epoch 16/200
250/250 [==============================] - 0s 249us/step - loss: 0.3472
Epoch 17/200
250/250 [==============================] - 0s 257us/step - loss: 0.3472
Epoch 18/200
250/250 [==============================] - 0s 250us/step - loss: 0.3473
Epoch 19/200
250/250 [==============================] - 0s 254us/step - loss: 0.3471
Epoch 20/200
250/250 [==============================] - 0s 255us/step - loss: 0.3471
Epoch 21/200
250/250 [==============================] - 0s 256us/step - loss: 0.3471
Epoch 22/200
250/250 [==============================] - 0s 249us/step - loss: 0.3470
Epoch 23/200
250/250 [==============================] - 0s 252us/step - loss: 0.3470
Epoch 24/200
250/250 [==============================] - 0s 249us/step - loss: 0.3469
Epoch 25/200
250/250 [==============================] - 0s 254us/step - loss: 0.3469
Epoch 26/200
250/250 [==============================] - 0s 256us/step - loss: 0.3468
Epoch 27/200
250/250 [==============================] - 0s 250us/step - loss: 0.3468
Epoch 28/200
250/250 [==============================] - 0s 248us/step - loss: 0.3467
Epoch 29/200
250/250 [==============================] - 0s 256us/step - loss: 0.3468
Epoch 30/200
250/250 [==============================] - 0s 249us/step - loss: 0.3467
Epoch 31/200
250/250 [==============================] - 0s 249us/step - loss: 0.3467
Epoch 32/200
250/250 [==============================] - 0s 249us/step - loss: 0.3467
Epoch 33/200
250/250 [==============================] - 0s 248us/step - loss: 0.3466
Epoch 34/200
250/250 [==============================] - 0s 249us/step - loss: 0.3465
Epoch 35/200
250/250 [==============================] - 0s 249us/step - loss: 0.3466
Epoch 36/200
250/250 [==============================] - 0s 249us/step - loss: 0.3465
Epoch 37/200
250/250 [==============================] - 0s 255us/step - loss: 0.3465
Epoch 38/200
250/250 [==============================] - 0s 305us/step - loss: 0.3465
Epoch 39/200
250/250 [==============================] - 0s 262us/step - loss: 0.3465
Epoch 40/200
250/250 [==============================] - 0s 260us/step - loss: 0.3464
Epoch 41/200
250/250 [==============================] - 0s 249us/step - loss: 0.3465
Epoch 42/200
250/250 [==============================] - 0s 248us/step - loss: 0.3464
Epoch 43/200
250/250 [==============================] - 0s 248us/step - loss: 0.3463
Epoch 44/200
250/250 [==============================] - 0s 246us/step - loss: 0.3464
Epoch 45/200
250/250 [==============================] - 0s 250us/step - loss: 0.3463
Epoch 46/200
250/250 [==============================] - 0s 258us/step - loss: 0.3463
Epoch 47/200
250/250 [==============================] - 0s 255us/step - loss: 0.3462
Epoch 48/200
250/250 [==============================] - 0s 251us/step - loss: 0.3462
Epoch 49/200
250/250 [==============================] - 0s 255us/step - loss: 0.3462
Epoch 50/200
250/250 [==============================] - 0s 248us/step - loss: 0.3462
Epoch 51/200
250/250 [==============================] - 0s 250us/step - loss: 0.3463
Epoch 52/200
250/250 [==============================] - 0s 254us/step - loss: 0.3461
Epoch 53/200
250/250 [==============================] - 0s 258us/step - loss: 0.3461
Epoch 54/200
250/250 [==============================] - 0s 254us/step - loss: 0.3461
Epoch 55/200
250/250 [==============================] - 0s 249us/step - loss: 0.3461
Epoch 56/200
250/250 [==============================] - 0s 253us/step - loss: 0.3461
Epoch 57/200
250/250 [==============================] - 0s 256us/step - loss: 0.3460
Epoch 58/200
250/250 [==============================] - 0s 295us/step - loss: 0.3461
Epoch 59/200
250/250 [==============================] - 0s 256us/step - loss: 0.3460
Epoch 60/200
250/250 [==============================] - 0s 250us/step - loss: 0.3460
Epoch 61/200
250/250 [==============================] - 0s 254us/step - loss: 0.3460
Epoch 62/200
250/250 [==============================] - 0s 251us/step - loss: 0.3460
Epoch 63/200
250/250 [==============================] - 0s 247us/step - loss: 0.3459
Epoch 64/200
250/250 [==============================] - 0s 250us/step - loss: 0.3459
Epoch 65/200
250/250 [==============================] - 0s 249us/step - loss: 0.3458
Epoch 66/200
250/250 [==============================] - 0s 250us/step - loss: 0.3458
Epoch 67/200
250/250 [==============================] - 0s 256us/step - loss: 0.3458
Epoch 68/200
250/250 [==============================] - 0s 248us/step - loss: 0.3458
Epoch 69/200
250/250 [==============================] - 0s 252us/step - loss: 0.3458
Epoch 70/200
250/250 [==============================] - 0s 249us/step - loss: 0.3458
Epoch 71/200
250/250 [==============================] - 0s 253us/step - loss: 0.3457
Epoch 72/200
250/250 [==============================] - 0s 257us/step - loss: 0.3458
Epoch 73/200
250/250 [==============================] - 0s 250us/step - loss: 0.3457
Epoch 74/200
250/250 [==============================] - 0s 254us/step - loss: 0.3457
Epoch 75/200
250/250 [==============================] - 0s 255us/step - loss: 0.3457
Epoch 76/200
250/250 [==============================] - 0s 251us/step - loss: 0.3456
Epoch 77/200
250/250 [==============================] - 0s 252us/step - loss: 0.3457
Epoch 78/200
250/250 [==============================] - 0s 251us/step - loss: 0.3457
Epoch 79/200
250/250 [==============================] - 0s 296us/step - loss: 0.3456
Epoch 80/200
250/250 [==============================] - 0s 263us/step - loss: 0.3457
Epoch 81/200
250/250 [==============================] - 0s 261us/step - loss: 0.3456
Epoch 82/200
250/250 [==============================] - 0s 256us/step - loss: 0.3455
Epoch 83/200
250/250 [==============================] - 0s 248us/step - loss: 0.3456
Epoch 84/200
250/250 [==============================] - 0s 255us/step - loss: 0.3455
Epoch 85/200
250/250 [==============================] - 0s 258us/step - loss: 0.3456
Epoch 86/200
250/250 [==============================] - 0s 255us/step - loss: 0.3456
Epoch 87/200
250/250 [==============================] - 0s 258us/step - loss: 0.3455
Epoch 88/200
250/250 [==============================] - 0s 249us/step - loss: 0.3455
Epoch 89/200
250/250 [==============================] - 0s 254us/step - loss: 0.3454
Epoch 90/200
250/250 [==============================] - 0s 256us/step - loss: 0.3455
Epoch 91/200
250/250 [==============================] - 0s 252us/step - loss: 0.3455
Epoch 92/200
250/250 [==============================] - 0s 258us/step - loss: 0.3454
Epoch 93/200
250/250 [==============================] - 0s 258us/step - loss: 0.3455
Epoch 94/200
250/250 [==============================] - 0s 249us/step - loss: 0.3454
Epoch 95/200
250/250 [==============================] - 0s 252us/step - loss: 0.3454
Epoch 96/200
250/250 [==============================] - 0s 249us/step - loss: 0.3454
Epoch 97/200
250/250 [==============================] - 0s 251us/step - loss: 0.3453
Epoch 98/200
250/250 [==============================] - 0s 299us/step - loss: 0.3454
Epoch 99/200
250/250 [==============================] - 0s 253us/step - loss: 0.3453
Epoch 100/200
250/250 [==============================] - 0s 250us/step - loss: 0.3453
Epoch 101/200
250/250 [==============================] - 0s 251us/step - loss: 0.3453
Epoch 102/200
250/250 [==============================] - 0s 251us/step - loss: 0.3453
Epoch 103/200
250/250 [==============================] - 0s 253us/step - loss: 0.3453
Epoch 104/200
250/250 [==============================] - 0s 251us/step - loss: 0.3453
Epoch 105/200
250/250 [==============================] - 0s 249us/step - loss: 0.3453
Epoch 106/200
250/250 [==============================] - 0s 252us/step - loss: 0.3452
Epoch 107/200
250/250 [==============================] - 0s 249us/step - loss: 0.3452
Epoch 108/200
250/250 [==============================] - 0s 249us/step - loss: 0.3454
Epoch 109/200
250/250 [==============================] - 0s 249us/step - loss: 0.3452
Epoch 110/200
250/250 [==============================] - 0s 251us/step - loss: 0.3451
Epoch 111/200
250/250 [==============================] - 0s 250us/step - loss: 0.3454
Epoch 112/200
250/250 [==============================] - 0s 252us/step - loss: 0.3451
Epoch 113/200
250/250 [==============================] - 0s 249us/step - loss: 0.3451
Epoch 114/200
250/250 [==============================] - 0s 249us/step - loss: 0.3452
Epoch 115/200
250/250 [==============================] - 0s 249us/step - loss: 0.3451
Epoch 116/200
250/250 [==============================] - 0s 250us/step - loss: 0.3451
Epoch 117/200
250/250 [==============================] - 0s 250us/step - loss: 0.3451
Epoch 118/200
250/250 [==============================] - 0s 249us/step - loss: 0.3451
Epoch 119/200
250/250 [==============================] - 0s 247us/step - loss: 0.3451
Epoch 120/200
250/250 [==============================] - 0s 250us/step - loss: 0.3450
Epoch 121/200
250/250 [==============================] - 0s 250us/step - loss: 0.3451
Epoch 122/200
250/250 [==============================] - 0s 249us/step - loss: 0.3451
Epoch 123/200
250/250 [==============================] - 0s 249us/step - loss: 0.3451
Epoch 124/200
250/250 [==============================] - 0s 249us/step - loss: 0.3450
Epoch 125/200
250/250 [==============================] - 0s 248us/step - loss: 0.3451
Epoch 126/200
250/250 [==============================] - 0s 249us/step - loss: 0.3450
Epoch 127/200
250/250 [==============================] - 0s 249us/step - loss: 0.3451
Epoch 128/200
250/250 [==============================] - 0s 249us/step - loss: 0.3450
Epoch 129/200
250/250 [==============================] - 0s 249us/step - loss: 0.3450
Epoch 130/200
250/250 [==============================] - 0s 248us/step - loss: 0.3450
Epoch 131/200
250/250 [==============================] - 0s 248us/step - loss: 0.3450
Epoch 132/200
250/250 [==============================] - 0s 250us/step - loss: 0.3449
Epoch 133/200
250/250 [==============================] - 0s 248us/step - loss: 0.3450
Epoch 134/200
250/250 [==============================] - 0s 249us/step - loss: 0.3450
Epoch 135/200
250/250 [==============================] - 0s 249us/step - loss: 0.3449
Epoch 136/200
250/250 [==============================] - 0s 250us/step - loss: 0.3450
Epoch 137/200
250/250 [==============================] - 0s 248us/step - loss: 0.3449
Epoch 138/200
250/250 [==============================] - 0s 247us/step - loss: 0.3449
Epoch 139/200
250/250 [==============================] - 0s 249us/step - loss: 0.3449
Epoch 140/200
250/250 [==============================] - 0s 249us/step - loss: 0.3450
Epoch 141/200
250/250 [==============================] - 0s 252us/step - loss: 0.3449
Epoch 142/200
250/250 [==============================] - 0s 250us/step - loss: 0.3449
Epoch 143/200
250/250 [==============================] - 0s 248us/step - loss: 0.3448
Epoch 144/200
250/250 [==============================] - 0s 250us/step - loss: 0.3449
Epoch 145/200
250/250 [==============================] - 0s 250us/step - loss: 0.3448
Epoch 146/200
250/250 [==============================] - 0s 250us/step - loss: 0.3449
Epoch 147/200
250/250 [==============================] - 0s 251us/step - loss: 0.3448
Epoch 148/200
250/250 [==============================] - 0s 250us/step - loss: 0.3448
Epoch 149/200
250/250 [==============================] - 0s 250us/step - loss: 0.3448
Epoch 150/200
250/250 [==============================] - 0s 248us/step - loss: 0.3448
Epoch 151/200
250/250 [==============================] - 0s 251us/step - loss: 0.3447
Epoch 152/200
250/250 [==============================] - 0s 254us/step - loss: 0.3448
Epoch 153/200
250/250 [==============================] - 0s 250us/step - loss: 0.3447
Epoch 154/200
250/250 [==============================] - 0s 296us/step - loss: 0.3447
Epoch 155/200
250/250 [==============================] - 0s 253us/step - loss: 0.3448
Epoch 156/200
250/250 [==============================] - 0s 265us/step - loss: 0.3448
Epoch 157/200
250/250 [==============================] - 0s 280us/step - loss: 0.3447
Epoch 158/200
250/250 [==============================] - 0s 304us/step - loss: 0.3447
Epoch 159/200
250/250 [==============================] - 0s 292us/step - loss: 0.3447
Epoch 160/200
250/250 [==============================] - 0s 320us/step - loss: 0.3447
Epoch 161/200
250/250 [==============================] - 0s 281us/step - loss: 0.3447
Epoch 162/200
250/250 [==============================] - 0s 273us/step - loss: 0.3447
Epoch 163/200
250/250 [==============================] - 0s 284us/step - loss: 0.3447
Epoch 164/200
250/250 [==============================] - 0s 265us/step - loss: 0.3448
Epoch 165/200
250/250 [==============================] - 0s 262us/step - loss: 0.3447
Epoch 166/200
250/250 [==============================] - 0s 269us/step - loss: 0.3446
Epoch 167/200
250/250 [==============================] - 0s 250us/step - loss: 0.3446
Epoch 168/200
250/250 [==============================] - 0s 253us/step - loss: 0.3446
Epoch 169/200
250/250 [==============================] - 0s 256us/step - loss: 0.3446
Epoch 170/200
250/250 [==============================] - 0s 252us/step - loss: 0.3447
Epoch 171/200
250/250 [==============================] - 0s 256us/step - loss: 0.3445
Epoch 172/200
250/250 [==============================] - 0s 250us/step - loss: 0.3446
Epoch 173/200
250/250 [==============================] - 0s 251us/step - loss: 0.3446
Epoch 174/200
250/250 [==============================] - 0s 249us/step - loss: 0.3446
Epoch 175/200
250/250 [==============================] - 0s 295us/step - loss: 0.3446
Epoch 176/200
250/250 [==============================] - 0s 256us/step - loss: 0.3446
Epoch 177/200
250/250 [==============================] - 0s 255us/step - loss: 0.3446
Epoch 178/200
250/250 [==============================] - 0s 250us/step - loss: 0.3446
Epoch 179/200
250/250 [==============================] - 0s 256us/step - loss: 0.3445
Epoch 180/200
250/250 [==============================] - 0s 250us/step - loss: 0.3446
Epoch 181/200
250/250 [==============================] - 0s 260us/step - loss: 0.3446
Epoch 182/200
250/250 [==============================] - 0s 257us/step - loss: 0.3445
Epoch 183/200
250/250 [==============================] - 0s 252us/step - loss: 0.3445
Epoch 184/200
250/250 [==============================] - 0s 254us/step - loss: 0.3445
Epoch 185/200
250/250 [==============================] - 0s 249us/step - loss: 0.3445
Epoch 186/200
250/250 [==============================] - 0s 257us/step - loss: 0.3445
Epoch 187/200
250/250 [==============================] - 0s 259us/step - loss: 0.3445
Epoch 188/200
250/250 [==============================] - 0s 251us/step - loss: 0.3445
Epoch 189/200
250/250 [==============================] - 0s 255us/step - loss: 0.3444
Epoch 190/200
250/250 [==============================] - 0s 248us/step - loss: 0.3445
Epoch 191/200
250/250 [==============================] - 0s 251us/step - loss: 0.3445
Epoch 192/200
250/250 [==============================] - 0s 251us/step - loss: 0.3445
Epoch 193/200
250/250 [==============================] - 0s 250us/step - loss: 0.3445
Epoch 194/200
250/250 [==============================] - 0s 253us/step - loss: 0.3444
Epoch 195/200
250/250 [==============================] - 0s 251us/step - loss: 0.3444
Epoch 196/200
250/250 [==============================] - 0s 252us/step - loss: 0.3444
Epoch 197/200
250/250 [==============================] - 0s 251us/step - loss: 0.3444
Epoch 198/200
250/250 [==============================] - 0s 250us/step - loss: 0.3444
Epoch 199/200
250/250 [==============================] - 0s 251us/step - loss: 0.3444
Epoch 200/200
250/250 [==============================] - 0s 251us/step - loss: 0.3443

In [ ]:
weights_first_layer = model.layers[0].get_weights()
weights_first_layer

[array([[-8.9671507e-02, -1.3159996e-02,  1.4742644e-02],
        [ 1.6279649e+00,  1.9033986e-01,  1.4915597e+00],
        [-2.1814085e-04,  4.5243222e-02,  2.6696631e-01],
        [-3.8238174e-01, -1.0697130e+00,  1.7806783e-01],
        [ 7.4381739e-01, -1.8921283e+00,  5.4532681e+00],
        [ 2.8095203e-03,  2.3882013e-02,  1.1364754e-01],
        [ 2.3163361e-02,  4.3155974e-01,  1.6283171e+00],
        [-3.0967047e-02, -5.1908966e-02, -8.4509410e-02],
        [ 4.7839630e-01,  3.1096533e-01, -1.6249675e-01],
        [ 9.1810822e-02, -1.6855220e-01,  3.8272089e-01],
        [-1.9884941e-01,  1.8391420e-01,  4.6046916e-02]], dtype=float32),
 array([-0.02135673,  2.7395735 ,  1.0376157 ], dtype=float32)]

In [ ]:
weights_first_layer1 = model.layers[1].get_weights()
weights_first_layer1

[array([[ 5.324121 ],
        [-5.0356693],
        [-4.5748987]], dtype=float32),
 array([2.2603974], dtype=float32)]

In [ ]:
model.predict(X_test_scaled)

63/63 [==============================] - 0s 253us/step

array([[0.26313496],
       [0.2968387 ],
       [0.14596201],
       ...,
       [0.15607946],
       [0.16094908],
       [0.12885155]], dtype=float32)

In [ ]:
import numpy as np

# Assuming model is already trained and X_test_scaled is prepared
predictions = (model.predict(X_test_scaled) > 0.5).astype(int)

63/63 [==============================] - 0s 362us/step

In [ ]:
y_pred=predictions
y_pred

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]])

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8555